* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: blue;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin: auto;
}

.questioncard {
    margin: 5px;
    width: calc(25% - 10px);
    height: calc(33.3% - 10px);
    position: relative;
    transform: scale(1);
}

.questioncard:active {
    transform: scale(.97);
    transition: transform .2s;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: white;
}

img {
    width: 100px;
}