body {
    background-color: blue;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

.game-info {
    color: white;
    font-size: 4em;
}

.card {
    position: relative;
    background-color: palegoldenrod;
    height: 175px;
    width: 125px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
}

.card-back {
    background-color: black;
    border-color: antiquewhite;
}

.card-back:hover {
    transform: translateY(0)
}

.card.visible .card-back {
    transform: rotate(-180deg);
}

.card.-front {
    transform: rotateX(180deg)
}

.h1 {
    position: absolute;
    color: aliceblue;
    width: 47px;
    height: 47px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}
